name: "[DEPLOY] Docker build and deploy to EC2"

on:
  push:
    branches: ["main", "homolog", "develop"]

jobs:
  deploy-to-ec2-dev:
    name: Deploy to EC2 (dev)
    runs-on: ubuntu-latest
    if: github.ref_name == 'develop'
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Conectar ao EC2 e Atualizar o Container dev
        env:
          EC2_USER: ubuntu
          EC2_HOST: ${{ secrets.EC2_PUBLIC_IP_DEV_HML }}
          SSH_KEY: ${{ secrets.EC2_SSH_KEY_DEV_HML }}
        run: |
          echo "$SSH_KEY" > private_key.pem
          chmod 600 private_key.pem

          ssh -o StrictHostKeyChecking=no -i private_key.pem $EC2_USER@$EC2_HOST << 'EOF'
            set -e
            echo ">>> Acessando diretório do projeto (dev)..."
            cd /home/ubuntu/projects/GO-simpzap

            echo ">>> Atualizando código (dev)..."
            git fetch --all
            git checkout develop
            git pull origin develop

            echo ">>> Atualizando imagem zap-client..."
            docker compose build --no-cache zap-client

            echo ">>> Subindo container..."
            docker compose build dev-go-simpzap-container
            docker compose up -d dev-go-simpzap-container

            echo ">>> Limpando imagens antigas..."
            docker image prune -f

            echo ">>> Deploy dev concluído!"
          EOF

          rm -f private_key.pem

  deploy-to-ec2-homolog:
    name: Deploy to EC2 (homolog)
    runs-on: ubuntu-latest
    if: github.ref_name == 'homolog'
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Conectar ao EC2 e Atualizar o Container homolog
        env:
          EC2_USER: ubuntu
          EC2_HOST: ${{ secrets.EC2_PUBLIC_IP_DEV_HML }}
          SSH_KEY: ${{ secrets.EC2_SSH_KEY_DEV_HML }}
        run: |
          echo "$SSH_KEY" > private_key.pem
          chmod 600 private_key.pem

          ssh -o StrictHostKeyChecking=no -i private_key.pem $EC2_USER@$EC2_HOST << 'EOF'
            set -e
            echo ">>> Acessando diretório do projeto (homolog)..."
            cd /home/ubuntu/projects/GO-simpzap

            echo ">>> Atualizando código (homolog)..."
            git fetch --all
            git checkout homolog
            git pull origin homolog

            echo ">>> Atualizando imagem zap-client..."
            docker compose build --no-cache zap-client

            echo ">>> Subindo container..."
            docker compose build homolog-go-simpzap-container
            docker compose up -d homolog-go-simpzap-container

            echo ">>> Limpando imagens antigas..."
            docker image prune -f

            echo ">>> Deploy homolog concluído!"
          EOF

          rm -f private_key.pem

  deploy-to-ec2-main:
    name: Deploy to EC2 (prod)
    runs-on: ubuntu-latest
    if: github.ref_name == 'main'
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Conectar ao EC2 e Atualizar o Container main
        env:
          EC2_USER: ubuntu
          EC2_HOST: ${{ secrets.EC2_PUBLIC_IP }}
          SSH_KEY: ${{ secrets.EC2_SSH_KEY }}
        run: |
          echo "$SSH_KEY" > private_key.pem
          chmod 600 private_key.pem

          ssh -o StrictHostKeyChecking=no -i private_key.pem $EC2_USER@$EC2_HOST << 'EOF'
            set -e
            echo ">>> Acessando diretório do projeto (prod)..."
            cd /home/ubuntu/projects/GO-simpzap

            echo ">>> Atualizando código (prod)..."
            git fetch --all
            git checkout main
            git pull origin main
          
            echo ">>> Atualizando imagem zap-client..."
            docker compose build --no-cache zap-client

            echo ">>> Subindo container..."
            docker compose build prod-go-simpzap-container
            docker compose up -d prod-go-simpzap-container

            echo ">>> Limpando imagens antigas..."
            docker image prune -f

            echo ">>> Deploy prod concluído!"
          EOF

          rm -f private_key.pem
